@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Varela+Round&display=swap");

.navBar {
  display: flex;
  background-color: rgb(9, 68, 9);
  color: white;
  flex-wrap: wrap;
}
.navBarSection {
  flex: 9;
  display: flex;
  margin-top: 12px;
}
.navBarLeft {
  flex: 3;
}
.navBarTitle {
  font-size: 40px;
  font-family: Great Vibes;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 12px;
}
.navBarCenter {
  flex: 6;
}

.navBarCenterMenu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.navBarCenterItem {
  margin: 5px 10px;
  font-family: lora;
}
.dropdownSelect {
  width: 20px;
  background-color: rgb(9, 68, 9);
  color: white;
  border: none;
  outline: none;
}
.navBarRight {
  flex: 3;
}
.navBarRightManu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navBarRightItem {
  margin: 5px 25px;
  font-family: lora;
}
.menubutton{
  display: none;
  font-size: 30px;
  margin-top: 15px;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.menuBarIcon {
  font-size: 30px;
  margin-top: 15px;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

/* respnsiveness */
@media (max-width: 980px) {
  .navBar {
    position: relative;
  }
  .navBarSection {
    position: absolute;
    top: 100%;
    right: 0;
    width: 270px;
    height: 29vh;
    background-color:  rgb(9, 68, 9);
    display: flex;
    color: white;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 0;
    overflow: auto;
    z-index: 100000;
  }

  .navBarCenterMenu {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  .dropDownItem{
    width: 20px;
    background-color: rgb(9, 68, 9);
    color: white;
    border: none;
    outline: none;
    height: 2vh;
  }
  .navBarRightManu {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  
  .menubutton{
    display: block;
    margin-right: 5rem;
    z-index: 10000;
    position: relative;
  }
}
